@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    border: 30px solid rgb(250, 181, 54);
    background-image: url('assets/portfoliobg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
}